{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- Fonte Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <!-- CSS Cliente -->
    <link rel="stylesheet" href="{% static 'css/cliente.css' %}">

</head>
<body>
    {% comment %} Navbar das páginas {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-light page-header">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Venda de Imóveis <i class="fas fa-home"></i></a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cliente' %}">Gerenciar Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'imovel' %}">Venda de Imóveis</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 dropdown">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ user.corretor.imagem.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="dropdownUser2">
                                <li><a class="dropdown-item" href="#">Perfil</a></li>
                                <li><a class="dropdown-item" href="{% url 'edit-corretor' %}">Editar Perfil</a></li>
                                <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-3 text-end">
                        <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-dark me-2">Login</button></a>
                        <a href="{% url 'registro' %}"><button type="button" class="btn btn-dark">Cadastre-se</button></a>
                    </div>
                {% endif %} 
            </div>
        </div>
    </nav>

    {% comment %} Estrutura para o conteúdo que vai nos templates {% endcomment %}
    <div id="wrapper">
        {% block content %}
        {% endblock %}

    {% comment %} Footer base das páginas {% endcomment %}
        <footer class="footer mt-4 py-3">
            <div class="container">
                <a>© 2021, Venda de Imóveis. Todos os Direitos Reservados</a>
                <div class="dropdown-divider"></div>
            </div>
        </footer>
    </div> 
    
</body>

<!-- JS Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

<!-- JS Cliente -->
<script src="{% static 'js/cliente.js' %}"></script>   

</html>