{% extends 'cliente/base.html' %}
{% comment %} Estender layout do template base {% endcomment %}

{% comment %} Importação da tag de formatação do formulário django {% endcomment %}
{% load crispy_forms_tags %}

{% block title %}Excluir Cliente{% endblock %}

{% block content %}

{% comment %} Código de confirmação para excluir um cliente  {% endcomment %}
<div class="container mt-4">
    <div class="row align-items-end">
        <h2 class="mt-4">Excluir Cliente</h2>
        <div class="dropdown-divider"></div>
        <form method="post">{% csrf_token %}
            <p>Tem certeza que quer deletar "{{ object }}"?</p>
            <button class="btn btn-dark" type="submit">Confirmar</button>
        </form>
    </div>
</div>

{% endblock %}