{% comment %} Estender layout do template base {% endcomment %}
{% extends 'cliente/base.html' %}

{% block title %}Gerenciar Clientes{% endblock %}

{% block content %}

{% comment %} Código da tabela de listagem de clientes {% endcomment %}
<div class="container mt-4">
    <div class="row align-items-end">
        <div class="col-4">
            <h2 class="mt-4">Gerenciar Clientes</h2>
        </div>
        <div class="col-3">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
        </div>
        <div class="col-2">
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
            </select>
        </div>
        <div class="col-3">
            <a href="{% url 'criar-cliente' %}"><button type="button" class="btn btn-outline-dark">Cadastrar Cliente <i class="fas fa-plus"></i></button></a>
        </div>
    </div>
    <div class="dropdown-divider"></div>
    <table class="table align-middle mt-4">
        <thead>
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Contato</th>
                <th scope="col">CPF</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for clientes in cliente %}
                <tr>
                    <th scope="row"><img src="/media/{{ clientes.imagem }}" alt="Cliente" width="35" height="35" class="rounded-circle img-cliente"> {{ clientes.nome }}</th>
                    <td>{{ clientes.email }}</td>
                    <td>{{ clientes.cpf }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-dark" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a href="{% url 'deletar-cliente' clientes.id %}"><li><button class="dropdown-item" type="button">Excluir</button></li></a>
                                <a href="{% url 'editar-cliente' clientes.id %}"><li><button class="dropdown-item" type="button">Editar</button></li></a>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>  

{% endblock %}