{% extends 'cliente/base.html' %}
{% comment %} Estender layout do template base da app cliente{% endcomment %}

{% comment %} Importação da tag de formatação do formulário django {% endcomment %}
{% load crispy_forms_tags %}

{% block title %}Login do Corretor{% endblock %}

{% block content %}
    
    {% comment %} Código do formulário de login do corretor {% endcomment %}
    <div class="container mt-4">
    <div class="row align-items-end">
        <h2 class="mt-4">Faça seu Login</h2>
        <div class="dropdown-divider"></div>
        <form method="post" action="." class="post-form mt-4">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="button-save btn btn-dark" value="login" type="submit">Entrar</button>
        </form>
    </div>

{% endblock %}